<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AWS API Documentation</title>
</head>
<body>
    <h1>AWS API Documentation</h1>
    <h2>API Endpoints</h2>
    <h3>Things</h3>
    <ul>
        <li>
            <strong><a href="/network/">/network/</a></strong><br />
            networks of stations - one per 'owner', e.g. Lower Murray Water or SE NRM Board
        </li>
        <li>
            <strong><a href="/station/">/station/</a></strong><br />
            list of weatherstations
        </li>
        <li>
            <strong><a href="/station/">/station/{STATION_ID}</a></strong><br />
            a single weatherstations, e.g. Cadel''s station_id is RMPW12 so try <a href="/station/RMPW12">/station/RMPW12</a>
        </li>
        <li>
            <strong><a href="/parameters/">/parameters/</a></strong><br />
            a list of parameters (of the atmosphere) measured by stations, e.g. wind speed
        </li>
    </ul>
    <h3>Functions</h3>
       <ul>
        <li>
            <strong>data</strong><br />
            queries against the DB's data. See 'Data Queries' below
        </li>
        <li>
            <strong>station searches</strong><br />
            queries against the DB's station lists
            <ul>
                <li>get details for all stations, e.g. <a href="/station/">/station/</a> </li>
                <li>get details for some stations by STATION_ID, e.g. <a href="/station/?station_ids=RMPW12,LEW001,LMW04">/station/?station_ids=RMPW12,LEW001,LMW04</a></li>
                <li>get details for stations sorted by a parameter, e.g. <a href="/station/?sortby=name&sortdir=DESC">/station/?sortby=name&sortdir=DESC</a> (sort by name descending), <a href="/station/?sortby=elevation&sortdir=ASC">/station/?sortby=elevation&sortdir=ASC</a> (sort by elevation ascending), </li>
                <li>get details for stations in distance order from a lat/long, e.g. <a href="/station/?sortby=distancefrom&longlat=(138.098727,-35.625126)">/station/?sortby=distancefrom&longlat=(138.098727,-35.625126)</a> </li>
                <li>get details for stations in distance order from a lat/long but for only some networks, e.g. <a href="/station/?sortby=distancefrom&longlat=(138.098727,-35.625126)&networks=SAMDB,LMW">/station/?sortby=distancefrom&longlat=(138.098727,-35.625126)&networks=SAMDB,LMW</a> </li>
            </ul>
        </li>
        <li>
            <strong>parameters &amp; stations</strong><br />
            <ul>
                <li>get details for all parameters available for all stations: <a href="/parameters/">/parameters/</a></li>
                <li>get details for a station's parameters: <strong>/parameters/?station_id={STATION_ID}</strong>, e.g. for Cadell: <a href="/parameters/?station_id=RMPW12">/parameters/?station_id=RMPW12</a></li>
                <li>get the station that record a parameter: <strong>/parameters/?parameter_id={PARAMETER_ID}</strong>, e.g. for Pressure: <a href="/parameters/?parameter_id=pressure">/parameters/?parameter_id=pressure</a></li>
            </ul>
        </li>
    </ul>
    <h3>Data Queries</h3>
    <p>Data queries have a few compulsory query string arguments, namely:</p>
    <ul>
        <li><span style="font-family:'Courier';">timestep</span>, either <span style="font-family:'Courier';">daily</span> or <span style="font-family:'Courier';">minutes</span></li>
        <li><span style="font-family:'Courier';">station_ids</span>, a comma-separated list of station IDs (station_id) from the <a href="/station/">/station/</a> register, e.g. <span style="font-family:'Courier';">RMPW12,RMPW27,LMW01</span></li>
        <li><span style="font-family:'Courier';">start_date</span>, in YYYY-MM-DD format, e.g. <span style="font-family:'Courier';">2015-01-01</span>
        <li><span style="font-family:'Courier';">end_date</span>, in YYYY-MM-DD format, e.g. <span style="font-family:'Courier';">2015-01-02</span>
    </ul>
    <p>Additionally, there are several optional query string arguments:</p>
   <ul>
        <li><span style="font-family:'Courier';">parameters</span>, a comma-separated list of parameter IDs from the <a href="/parameters/">/parameters/</a> register, e.g. <span style="font-family:'Courier';">airT, stamp, rain</span></li>
   </ul>
    <h4>Example Data Queries</h4>
    <ul>
        <li>
            <a href="/data/?timestep=daily&station_ids=RMPW12&start_date=2015-01-01&end_date=2015-01-03">/data/?timestep=daily&station_ids=RMPW12&start_date=2015-01-01&end_date=2015-01-03</a><br />
            Daily data for a station with date range
        </li>
        <li>
            <a href="/data/?timestep=minutes&station_ids=RMPW12&start_date=2015-01-01&end_date=2015-01-01">/data/?timestep=minutes&station_ids=RMPW12&start_date=2015-01-01&end_date=2015-01-01</a><br />
            A day's minutes data for a station
        </li>
        <li>
            <a href="/data/?timestep=minutes&station_ids=RMPW12&start_date=2015-01-01&end_date=2015-01-02&parameters=stamp,airT,rain">/data/?timestep=minutes&station_ids=RMPW12&start_date=2015-01-01&end_date=2015-01-02&amp;parameters=stamp,airT,rain</a>
            A day's minutes data for a station
        </li>
    </ul>
    <h3>Formats</h3>
    <p>All requests return JSON with the application/json Content-Type header. JSON-P (padded) can be requested for any request by adding a <span style="font-family:'Courier';">callback</span> query string argument, e.g.:</p>
    <ul>
        <li><a href="/station/RMPW13">/station/RMPW13</a> (normal JSON)</li>
        <li><a href="/station/RMPW13?callback=func">/station/RMPW13?callback=func</a> (JSON-P)</li>
    </ul>
    <h2>Contact</h2>
    <p>Nicholas Car: nick at kurrawong.net, 0427 300 292</p>
</body>
</html>